[Unit]
Description=Live Boot Provisioner
# This service will run onboot provisioning (through ansible etc?) assuming
# you have a provisioning script in place to start it up.
# This is useful for things that can't be baked into this image.
Wants=network-online.target
After=network.target network-online.target
Before=docker.service
Requires=zfs-import-scan.service
ConditionFileIsExecutable=/state/config/provision.sh

[Service]
Type=oneshot
ExecStart=/state/config/provision.sh
TimeoutSec=120

[Install]
WantedBy=multi-user.target